html {
  background-color: #f5f5f5;
}

.App {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  background-color: #d9ff00;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 4rem;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.productItem button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.productItem button:hover {
  background-color: #3e8e41;
}

.productItem button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.inputGroup select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
}

.inputGroup input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
  flex-grow: 1;
}

.inputGroup button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputGroup button:hover {
  background-color: #3e8e41;
}

.inputGroup button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #08ffc5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 3rem;
  color: #031e15;
  margin-bottom: 0;
}

header h2 {
  font-size: 1.5rem;
  color: #06060631;
  margin-top: 0;
}

.form-container {
  padding-bottom: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
  flex: 1;
  margin-right: 20px;
}

.input-container form {
  display: flex;
  align-items: center;
}

.input-container select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
  min-width: 50px;
}

.input-container input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  flex-grow: 1;
  margin-right: 10px;
}

.input-container button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #3e8e41;
}

.input-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.entries-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-bottom: 5px;
}

.entries-list li {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.entries-list li:last-child {
  margin-right: 0;
}
.entry-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.entry-title {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.entry-title {
  text-decoration-line: line-through;
  color: #ccc;
}

.entry-quantity {
  margin-left: 10px;
  margin-right: 10px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 10px);
  margin-right: 10px;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item input[type="checkbox"] {
  margin-right: 10px;
}

.item label {
  flex-grow: 1;
}

.item .quantity {
  margin-left: 10px;
}

.entry-button {
  background-color: #11f1c8;
  color: white;
  padding: 8px 16px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.entry-button:hover {
  background-color: #3e8e41;
}

.entry-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button-row {
  background-color: #26e385; /* light mint background color */
  text-align: center;
  border-radius: 25%;
}

.button-row button {
  background-color: #00ff7f; /* mint green button color */
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25%;
  padding-right: 20px;
}

.button-row button:hover {
  background-color: #4de7c8; /* slightly darker mint green hover color */
}
